# Node
node_modules/
client/node_modules/
server/node_modules/

# Env files
.env
.env.*
client/.env
server/.env

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Build
client/dist/
server/dist/

# Docker (optional)
*.pid
*.seed